


html, body {
    margin: 0 auto;
}

body {
    background: url(../images/Welcome.jpg);
    margin: 0px;
    font-family: Verdana;
    width: 100%;
}
textarea {
    padding: 10px;
    border-radius: 10px;
}

input {
    border-radius: 10px;
    padding: 15px;
}
button.submit {
    margin: 45px 15px;
    width: 20%;
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

button:hover {
    background: #191f45;
    color: white;
}

button.csubmit {
    margin: 45px 15px;
    width: 20%;
    background: #333;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-family: inherit;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.center-box {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}


form input[type="email"], input[type="password"], input[type = "text"]{
    width: 50%;
    padding: 10px;
    margin: 0 0 25px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: #333;
    font-family: inherit;
    font-size: inherit;
}

#caption {
    font-size: 48px;
    color: black;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    text-transform: uppercase;
    font-weight: bold;
    font-family: verdana;
    margin: 20px auto;
    margin-bottom: 60px;
    text-align: center;
    width: 30%;
}
