body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-image: url('3zycye0y45g01.jpg');
    background-repeat:no-repeat;
    background-size:1860px 980px;
}



p {
    line-height: 21px;
    display: inline-block;

}

h1 {
    color: #ffc;
    background-color: Black;
    font-size: 3em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;

}

h2 {
    color: white;
    background-color: Purple;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: White;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 10px;
    border-color: White;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: White;
    font-style: italic;
}

table {
    background-color: Purple;
}
