body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  background: url(../images/image.png);
}
table {
  margin: 0 auto;
  border: 2px solid #ccc;
  border-collapse: collapse;
  table-layout: fixed;
  width: 80%;
}
table caption {
  font-size: 48px;
  color: #545151;
  border-bottom: 2px solid gray;
  border-top: 2px solid gray;
  text-transform: uppercase;
  font-weight: bold;
  font-family: verdana;
  margin: 20px auto;
  text-align: center;
  width: 30%;
}
table tr {
  border: 1px solid #696969;
  padding: 16px;
}
table tr:nth-child(even) {
  background: #f8f8f8;
}
table th,
table td {
  padding: .625em;
  text-align: left;
}
table th {
  background: #545151;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-top: 20px;
}
table td {
  background: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
